.word--trail{
	font-size: 12vw;
	font-family: 'Cabin Sketch', sans-serif;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 0.1em;
}

.word--trail2 {
	font-family: 'Cabin Sketch', sans-serif;
	font-weight: 400;
	color: white;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 0.1em;
}

.word--trail span,.word--trail2 span {
	display: block;
	position: relative;
	z-index: 100;
}

.word--trail span span, .word--trail2 span span  {
	pointer-events: none;
}

.word--trail span span:not(:last-child), .word--trail2 span span:not(:last-child) {
	position: absolute;
	color: wheat;
}

@media (max-width:800px) {
	#test{
		display: none
		}
}
